Nexus/Library/
.vs/
Nexus Test/Bin/
*.user

Nexus/NaturalDocs/classes
Nexus/NaturalDocs/Working Data
Nexus/NaturalDocs/files
Nexus/NaturalDocs/index.html
Nexus/NaturalDocs/menu
Nexus/NaturalDocs/other
Nexus/NaturalDocs/search
Nexus/NaturalDocs/styles